@using Aiminfomatics.Helpers
@using Kentico.PageBuilder.Web.Mvc

@model Aiminfomatics.Models.HomeIndexViewModel

@{
    ViewData["Title"] = HtmlLocalizer["Home"];
}


@section styles
    {
    @* Includes CSS necessary for page builder functionality *@
    <page-builder-styles />
}
    @section scripts
    {
    @* Includes scripts necessary for page builder functionality *@
    <page-builder-scripts />
}

    @foreach (var homeSection in Model.HomeSections)
{
    <!-- Main Slider Starts from here -->
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
        <div id="rev_slider_2_1" class="rev_slider fullwidthabanner" >
            <ul>

                <li data-transition="" data-slotamount="7" data-masterspeed="300">

                    <img src="@homeSection.HomeBGImg" alt="bg">
                    <div class="tp-caption lfr" data-x="320" data-y="60" data-speed="300" data-start="500" data-easing="easeOutExpo">
                        <img src="@homeSection.HomeGraphicImage" alt="Image 1">
                        </div>
                    <div class="tp-caption transparent lfl" data-x="50" data-y="100" data-speed="300" data-start="800" data-easing="easeOutExpo"> </div>
                    @Html.Kentico().ResolveUrls(homeSection.ResponsiveText)<br/><br/><br/>
                    @Html.Kentico().ResolveUrls(homeSection.HomeGraphicText)
                    <div class="tp-caption lfb" data-x="60" data-y="400" data-speed="300" data-start="1400" data-easing="easeOutExpo">
                        <a href="#" title="Read More" class="read-more">@homeSection.ReadMore</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300">
                    <div class="tp-caption lfr" data-x="400" data-y="20" data-speed="300" data-start="500" data-easing="easeOutExpo">
                        <img src="@homeSection.HomeGraphicIma1ge" alt="Image 1">
                        </div>
                    <div class="tp-caption transparent lfl" data-x="50" data-y="140" data-speed="300" data-start="800" data-easing="easeOutExpo"></div>
                    @Html.Kentico().ResolveUrls(homeSection.ResponsiveText)<br/><br/><br/>
                    @Html.Kentico().ResolveUrls(homeSection.ResponsiveText1)
                    <div class="tp-caption lfb" data-x="60" data-y="380" data-speed="300" data-start="1400" data-easing="easeOutExpo">
                        <a href="#" title="Read More" class="read-more">@homeSection.ReadMore</a>
                    </div>
                </li>

            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!-- End Main Slider-->
    <section class="main_con">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="our_srvic">
                        <img src="@homeSection.TechImage" alt="" class="icon">
                        @Html.Kentico().ResolveUrls(homeSection.TechnologyText)
                    </div>
                </div>
                <div class="span3">
                    <div class="our_srvic">
                        <img src="@homeSection.ResponsiveImg" alt="" class="icon">
                        @Html.Kentico().ResolveUrls(homeSection.ResponsiveContentTxt)
                    </div>
                </div>
                <div class="span3">
                    <div class="our_srvic">
                        <img src="@homeSection.SupportImg" alt="" class="icon">
                        @Html.Kentico().ResolveUrls(homeSection.SupportText)
                    </div>
                </div>
                <div class="span3">
                    <div class="our_srvic">
                        <img src="@homeSection.WorldImg" alt="" class="icon">
                        @Html.Raw(homeSection.WorldText)
                    </div>
                </div>
            </div>
        </div>
        <div class="gray_bg">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="color_pc"><img src="@homeSection.Color_pcImg" alt=""></div>
                    </div>
                    <div class="span1 height0"></div>
                    <div class="span6">
                        @Html.Kentico().ResolveUrls(homeSection.EvoleText)
                    </div>
                </div>
            </div>
        </div>

        <div class="twitter_sec">
            <div class="container">
                <div class="twitter"> @Html.Raw(homeSection.TwitterTxt)</div>
                <div class="tw_arow">
                    <a href="#"><img src="@homeSection.TwArowImg" alt=""></a>
                    <a href="#"><img src="@homeSection.TwArowImg" alt=""></a>
                </div>
            </div>
        </div>



    </section>
}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    var tpj = jQuery;
    tpj.noConflict();
    var revapi2;
    tpj(document).ready(function() 
    {

        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        if (tpj('#rev_slider_2_1').revolution == undefined)
            revslider_showDoubleJqueryError('#rev_slider_2_1');
        else
            revapi2 = tpj('#rev_slider_2_1').show().revolution(
                {
                    delay: 9000,
                    startwidth: 960,
                    startheight: 450,
                    hideThumbs: 200,
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 4,
                    navigationType: "none",
                    navigationArrows: "nexttobullets",
                    navigationStyle: "round",
                    touchenabled: "on",
                    onHoverStop: "on",
                    navOffsetHorizontal: 0,
                    navOffsetVertical: 20,
                    shadow: 2,
                    fullWidth: "on",
                    stopLoop: "off",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0
                });

    });	    //ready

</script>

@*<script src="~/js/jquery.1.8.2.min.js"></script>*@
@*<script src="~/js/bootstrap.min.js"></script>*@
@*<script src="~/js/jquery.onecarousel.min.js"></script>*@
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#myCarousel').oneCarousel({
            easeIn: 'rotateIn',
            interval: 5000,
            pause: 'hover'
        });
    });
</script>

<script src="~/js/bootstrap.js"></script>

@*<script>
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (xhttp.readyState == 4 && xhttp.status == 200) {
            document.getElementById("foot-li").innerHTML = xhttp.responseText;
        }
    };
    xhttp.open("GET", "foot-address.txt", true);
    xhttp.send();

</script>*@

@*<script>
    var xhttp1 = new XMLHttpRequest();
    xhttp1.onreadystatechange = function() {
        if (xhttp1.readyState == 4 && xhttp1.status == 200) {
            document.getElementById("right-add-p").innerHTML = xhttp1.responseText;
        }
    };
    xhttp1.open("GET", "right-address.txt", true);
    xhttp1.send();

</script>*@

<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-18013506-2', 'auto');
    ga('send', 'pageview');

</script>